.hero2 {
  display: flex;

  @media (width <= 1111px) and (orientation: portrait) {
    flex-direction: column-reverse;
  }

  .aside-in-hero {
    height: 100vh;

    @media (width <= 1111px) and (orientation: portrait) {
      height: 50vh;
      width: 100%;
    }

    &.aside-left {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      place-content: center;
      overflow: hidden;

      @media (width <= 1111px) and (orientation: portrait) {
        width: 100%;
      }

      .container-img-vertical {
        width: 30vmax;
        height: 40vmax;
        background-color: orange;
        position: relative;
        border-radius: 1.2vmax;

        .gref-vertical {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: inherit;
        }

        .light-img {
          position: absolute;
        }

        .left-light-vertical {
          width: 28vmax;
          height: 28vmax;
          top: -10vmax;
          left: -10vmax;
        }

        .right-light-vertical {
          width: 25vmax;
          height: 25vmax;
          bottom: -8vmax;
          right: -9vmax;
        }
      }
    }

    &.aside-right {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      place-content: center;

      @media (width <= 1111px) and (orientation: portrait) {
        width: 100%;
        transform: translateY(5vmax);
      }

      .container-content {
        width: 40vmax;
        height: 40vmax;
        display: flex;
        flex-direction: column;
        gap: 1.5vmax;
        padding: 1vmax;
        align-items: center;

        h3 {
          font-size: 2.2vmax;
          text-wrap: balance;
          color: transparent;
          background-clip: text;
          background-image: linear-gradient(
            to right,
            var(--primary-color),
            var(--secondary-color)
          );

          &.titulin {
            margin-bottom: 1.5vmax;
          }

          &:first-child {
            text-align: center;
          }
        }
      }
    }
  }
}
