.hero4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-content: center;
  place-items: center;
  position: relative;
  overflow: hidden;

  h1 {
    font-size: 2.2vmax;
    text-wrap: balance;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(
      to right,
      var(--primary-color),
      var(--secondary-color)
    );
    text-align: center;
    margin-bottom: 1.3vmax;
  }

  .thunder {
    position: absolute;
    width: 16vmax;
    height: 34vmax;

    &.thunder-logo-twitch {
      top: -8vmax;
      left: 2vmax;
      transform: rotate(45deg);
    }

    &.thunder-logo-youtube {
      bottom: -8vmax;
      right: 2vmax;
      transform: rotate(45deg);
    }

    &.thunder-logo-ig {
      bottom: -8vmax;
      left: 2vmax;
      transform: rotate(-45deg);
    }

    &.thunder-logo-x {
      top: -8vmax;
      right: 2vmax;
      transform: rotate(-45deg);
    }
  }

  .logo-social-network {
    width: 3vmax;
    position: absolute;
    color: #fff4;
    transition: color 0.4s ease;

    &:hover {
      color: var(--primary-color);
    }

    &.logo-twitch {
      top: 1.5vmax;
      left: 1.5vmax;
    }

    &.logo-x {
      top: 1.5vmax;
      right: 1.5vmax;
    }

    &.logo-ig {
      bottom: 1.5vmax;
      left: 1.5vmax;
    }

    &.logo-youtube {
      bottom: 1.5vmax;
      right: 1.5vmax;
    }
  }
}
